.popup-message {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(1, 97, 1, 0.6);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-message button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    10%,
    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}